@{
    ViewData["Title"] = "Home Page";
}


        <div class="row">
            <div class="col-12 col-sm-6 content">
                <div class="container tic-container">
                    <div class="row tic-row">
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                    </div>
                    <div class="row tic-row">
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                    </div>
                    <div class="row tic-row">
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                        <div class="col-2 tic-box">  </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 tic-panel"> PANEL-THINGY<br>Score:<br>Foo bar: stuff<br> Reset game and all that blah </div>
        </div>
   