@{
    ViewData["Title"] = "Home Page";
}

    <h1>Tic-Tac-Toe</h1>
    <div class="play-area">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
