@{
    ViewData["Title"] = "Home Page";
}
<div class="play-area">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
</div>
<button class="btn" id="test">test</button>
@section Scripts
{
    <script src="~/lib/TicTacToe.js"></script>
    <script>
       
    </script>
}


