@{
    ViewData["Title"] = "Home Page";
}

<div class="board-container">
    <h1>Tic Tac Toe</h1>
    <div class="board-row board-border-b">
        <div class="board-col board-border-r"></div>
        <div class="board-col board-border-r"></div>
        <div class="board-col"></div>
    </div>
    <div class="board-row board-border-b">
        <div class="board-col board-border-r"></div>
        <div class="board-col board-border-r"></div>
        <div class="board-col"></div>
    </div>
    <div class="board-row board-border-b">
        <div class="board-col board-border-r"></div>
        <div class="board-col board-border-r"></div>
        <div class="board-col"></div>
    </div>
</div>
